<%- include('../layouts/admin-header.ejs') %>


      <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>
            </div>
      </div>
               
    <%- include('../layouts/admin-footer.ejs') %>