<%- include('../layouts/user-header') %>




<!-- home section starts      -->

<section class="home" >
    <div class="home"  style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)) ,url(/public/images/banner-img/1659760294848-90daf562-1620-40b3-9531-92903d5fe34b.jpg) ; height: 100vh;">
    
     
            <!-- <div class="content">
                <h3>title</h3>
                <span>caption </span>
                <a href="products/>" class="btn">shop now</a>
            </div>
        </div>
    -->
    <div id="next-slide" onclick="next()" class="fas fa-angle-right"></div>
    <div id="prev-slide" onclick="prev()" class="fas fa-angle-left"></div>

</section>

<%- include('../layouts/user-footer-section.ejs') %> 


<%- include('../layouts/user-footer.ejs') %>